<div class="row" *ngIf="users$ | async as users">
  <div class="col-sm-6 col-md-4">

    <div class="list-group mb-2">
      <button class="btn btn-outline-primary" (click)="isNewTrigger()">
        <app-icon icon="bi bi-plus"></app-icon>
        Добавить
      </button>
    </div>

    <div class="list-group mb-2">
      <a
        *ngFor="let u of users"
        class="list-group-item list-group-item-action"
        [routerLink]="[u.id]"
        (click)="isNew = false"
      >
        {{ u.name }}
      </a>
    </div>

    <ng-container *ngIf="users.length === 0">
      <div class="list-group mb-2">
        <div class="alert alert-danger text-center">Нет пользователей</div>
      </div>
    </ng-container>

  </div>
  <div class="col-sm-6 col-md-8">
    <ng-container *ngIf="!isNew">
      <router-outlet></router-outlet>
    </ng-container>
    <ng-container *ngIf="isNew">
      <app-user-form (onSubmit)="onSubmit($event)"></app-user-form>
    </ng-container>
  </div>
</div>
